{
  "env": {
    "node": true
  },
  "rules": {
    "brace-style": [1, "1tbs", { "allowSingleLine": true }],
    "comma-dangle": [1, "never"],
    "comma-style": [1, "first", { exceptions: {ArrayExpression: true, ObjectExpression: true} }],
    "complexity": [1, 6],
    "curly": 1,
    "eqeqeq": [1, "allow-null"],
    "max-statements": [1, 30],
    "no-shadow-restricted-names": 1,
    "no-undef": 1,
    "no-use-before-define": 1,
    "radix": 1,
    "semi": 1,
    "space-infix-ops": 1,
    "strict": 0
  },
  "globals": {
    "AnalysisView": true,
    "PollingView": true,
    "Prism": true,
    "Spinner": true,
    "Timer": true,
    "moment": true
  }
}
